$tan: #d2c29c;
$brown: #352d27;
$primary-color: #352d27;
$green: #669c8b;
$accent-color: #e0a138;
$orange: #c05126;
$light-gray: #eeee;
$dark-gray: #635c5c;
$highlight-color: #c05126;
$font-family: "rl-aqva", sans-serif;
$heading-font: "rl-aqva", sans-serif;
$map-height: 400px;

// Keyframes for animations
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// Base Styles
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

// Animations
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 80px;
  }
}

// About Section
.about-section {
  background-image: linear-gradient(to top, $tan 0%, $green 100%);
  animation: fadeIn 1.5s ease-out;
  padding-bottom: 50px;
  padding-top: 100px;

  .section-title {
    margin-top: 100px;
    font-size: 2.5rem;
    font-family: $heading-font;
    text-align: center;
    color: $primary-color;
    margin-bottom: 30px;
    transition: color 0.3s ease;
    animation: slideUp 1.2s ease-out;
  }

  .about-content1 {
    padding: 20px;
    justify-content: space-between;
    gap: 20px;
    width: 550px;
    padding-bottom: 20px;
    margin-top: 20px;
    align-items: center;
    color: black;
    border-radius: 20px;
    background-color: $tan;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    opacity: 0;
    animation: fadeIn 1.5s ease-out 0.5s forwards;
    color: #352d27;

    .text-content {
      flex: 1;
      font-size: 1.2rem;
      line-height: 1.6;

      p {
        width: 500px;
        color: #352d27;
      }
    }

    .collab {
      background-image: url(../images/about-collaboration.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 80%;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .container {
    animation: fadeIn 1.5s ease-out;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; // Add spacing
    align-items: center;
    gap: 20px;
    .containerMap {
      padding: 20px;
      height: 100%;
      border-radius: 50px;
      .sec-title {
        font-size: 2.5rem;
        text-align: center;
        justify-self: center;
        color: $brown;
        font-family: rl-aqva, sans-serif;
        padding: 10px;
      }
    }

    .food-insecurity-section {
      margin-top: 60px;
      background-color: $tan;

      animation: fadeIn 2s ease-out;
      border-radius: 20px;

      .section-title {
        font-size: 2.5rem;
        text-align: center;
        color: $primary-color;

        animation: slideUp 1.5s ease-out;
        font-family: rl-aqva, sans-serif;
        font-style: normal;
        font-weight: 900;
      }

      p {
        color: black;
      }

      .map-container {
        text-align: center;
        opacity: 0;
        animation: fadeIn 1.5s ease-out 1s forwards;

        #map {
          height: $map-height;
          width: 100%;
          border-radius: 10px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.05);
          }
        }

        .map-instructions {
          font-size: 1rem;
          margin-top: 20px;
          color: $brown;
          transition: color 0.3s ease;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
}
// Media Queries for About Section
@media (max-width: 1200px) {
  .about-section {
    .container {
      flex-direction: column;
      gap: 30px;
    }

    .about-content {
      width: 900px;
      margin: 0 auto;
      padding: 15px;
    }

    .section-title {
      font-size: 2rem; // Reduces the title font size for smaller screens
      margin-top: 50px; // Adds more space at the top for readability
    }

    .indymap {
      height: 300px; // Decreases the map height on smaller screens
    }

    .text-content {
      font-size: 1rem; // Reduces font size for better readability on small screens
    }
  }
}

@media (max-width: 992px) {
  .about-section {
    .container {
      flex-direction: column; // Stacks container elements on top of each other
      gap: 40px;
    }

    .about-content {
      width: 100%; // Ensures the content takes up full width on medium screens
      padding: 10px;
    }

    .section-title {
      font-size: 1.8rem; // Smaller title for medium screens
    }

    .indymap {
      height: 250px; // Decreases the map height even further
    }

    .text-content {
      font-size: 0.9rem; // Reduces font size further for better fit
    }
  }
}

@media (max-width: 768px) {
  .about-section {
    .container {
      flex-direction: column; // Stacks everything vertically for mobile devices
      gap: 20px;
    }

    .about-content {
      width: 100%; // Makes sure content stretches across
      padding: 10px;
    }

    .section-title {
      font-size: 1.5rem; // Makes the title smaller
      margin-top: 30px; // Reduces margin to save space
    }

    .indymap {
      height: 200px; // Significantly reduces the map height on mobile
    }

    .text-content {
      font-size: 0.85rem; // Makes the font smaller for mobile
    }

    .collab {
      height: 60%; // Decreases the height of the collab image for better mobile display
    }
  }
}

@media (max-width: 600px) {
  .about-section {
    .container {
      padding: 10px; // Adds some padding for smaller screens
    }

    .section-title {
      font-size: 1.2rem;
    }

    .about-content1 {
      width: 100%;
      padding: 10px;
      height: auto;

      .text-content {
        width: 100%;
        height: auto;
        p {
          width: 100%;
          font-size: 1rem;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .about-section {
    padding-top: 50px;
    padding-bottom: 30px;
    height: 200vh;

    .section-title {
      margin-top: 50px;
      font-size: 1.8rem;
      margin-bottom: 20px;
    }

    .about-content1 {
      padding: 15px;
      width: 100%;
      margin-top: 10px;
      gap: 15px;
      background-color: $tan;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 20px 0px;

      .text-content {
        font-size: 1rem;
        line-height: 1.4;

        p {
          width: 100%;
        }
      }

      .collab {
        height: 60%;
        background-position: center;
        background-size: cover;
      }
    }

    .container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 10px;

      .containerMap {
        padding: 10px;
        height: 280px;
        border-radius: 20px;
        margin-bottom: 30px;
        .sec-title {
          font-size: 1.6rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }
}

.bonerCenter {
  background-color: $brown;
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $tan;

  h2 {
    border-radius: 5px;
    width: 60%;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 900;
    font-family: rl-aqva, sans-serif;
    color: $orange;
    margin-bottom: 40px;
  }

  .BonnerCenterTitle {
    font-size: 2rem;
    font-family: rl-aqva, sans-serif;
    font-weight: 900;
  }

  .logos {
    display: flex;
    align-items: center;
    gap: 30px;

    .logo1,
    .logo2 {
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .logo1 {
      background-image: url(../images/bonLogo.png);
      width: 500px; /* Increased size */
      height: 200px;
    }

    .logo2 {
      background-image: url(../images/yonLogo.png);
      width: 350px; /* Increased size */
      height: 150px;
    }
  }
}

// Media Queries for responsiveness
@media (max-width: 1024px) {
  .bonerCenter {
    min-height: 40vh;

    h2 {
      font-size: 30px;
      margin-bottom: 30px;
      width: 70%;
    }

    .BonnerCenterTitle {
      font-size: 1.8rem;
    }

    .logos {
      gap: 20px;

      .logo1 {
        width: 400px; /* Decreased size */
        height: 160px;
      }

      .logo2 {
        width: 300px; /* Decreased size */
        height: 130px;
      }
    }
  }
}

@media (max-width: 768px) {
  .bonerCenter {
    min-height: 40vh;

    h2 {
      font-size: 30px;
      margin-bottom: 30px;
      width: 70%;
    }

    .BonnerCenterTitle {
      font-size: 1.8rem;
    }

    .logos {
      gap: 20px;

      .logo1 {
        width: 300px; /* Decreased size */
        height: 160px;
      }

      .logo2 {
        width: 250px; /* Decreased size */
        height: 130px;
      }
    }
  }
}

@media (max-width: 600px) {
  .bonerCenter {
    height: auto;

    h2 {
      font-size: 30px;
      margin-bottom: 30px;
      width: 70%;
    }

    .BonnerCenterTitle {
      font-size: 1.8rem;
    }

    .logos {
      gap: 20px;
      flex-direction: column;
      .logo1 {
        width: 400px;
        height: 160px;
      }

      .logo2 {
        width: 300px;
        height: 130px;
        margin-bottom: 30px;
      }
    }
  }
}

.container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  background: linear-gradient(to bottom right, $tan, $green);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  gap: 2rem;

  .about-content {
    max-width: 600px;

    .section-title {
      font-size: 2.5rem;
      font-weight: bold;
      color: $brown;
      margin-bottom: 1.5rem;
      position: relative;
      text-transform: uppercase;
      letter-spacing: 2px;
      animation: fadeIn 1.5s ease-in-out;
      font-family: $heading-font;

      &::after {
        content: "";
        display: block;
        width: 80px;
        height: 3px;
        background: $green;
        animation: grow 1.5s ease-in-out;
      }
    }

    .text-content {
      p {
        font-size: 1.2rem;
        line-height: 1.5;
        color: $brown;
        margin-bottom: 1rem;
        animation: slideIn 1s ease forwards;

        &:nth-child(1) {
          animation-delay: 0.2s;
        }
        &:nth-child(2) {
          animation-delay: 0.4s;
        }
      }
    }
    .seeMore {
      display: inline-block;
      background: linear-gradient(45deg, $orange, #ff9472);
      color: #fff;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 0.75rem 1.5rem;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      text-transform: uppercase;
      transition: transform 0.3s ease, box-shadow 0.3s ease,
        background 0.3s ease;
      position: relative;
      overflow: hidden;

      a {
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        i {
          transition: transform 0.3s ease;
        }
      }

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 20px rgba(255, 111, 97, 0.5);
        background: linear-gradient(45deg, #ff9472, #ff6f61);

        i {
          transform: translateX(5px);
        }
      }

      &:active {
        transform: scale(0.98);
        box-shadow: 0 4px 10px rgba(255, 111, 97, 0.3);
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.3);
        transition: left 0.4s ease;
      }

      &:hover::before {
        left: 0;
      }
    }
  }

  .aboutCollabImg {
    width: 700px;
    height: 500px;
    background-image: url(../images/shoulder.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(0.9);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale(1);
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    }
  }
  .seeMore {
    flex: none;
  }
}
