$tan: #d2c29c;
$brown: #352d27;
$green: #669c8b;
$yellow: #e0a138;
$orange: #c05126;
$light-gray: #eeee;
$dark-gray: #635c5c;
$highlight-color: #c05126;
$heading-font: "rl-aqva", sans-serif;

.project-hero8 {
  position: relative;
  background-image: url(../images/team1.png);
  background-size: cover;
  background-position: center;
  height: 80vh;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-overlay8 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  background: linear-gradient(74deg, #cec5ad 31%, #82a373 100%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.project-title8 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  animation: fadeInUp 1s ease-out;
  width: 50%;
  font-family: $heading-font;
  text-align: center;
}

.project-description8 {
  font-size: 1.1rem;
  max-width: 800px;
  margin: 0 auto;
  font-weight: bolder;
  margin-top: 30px;
  line-height: 27px;
  animation: fadeInUp 2s ease-out;
  text-align: center;
}

.project-type8 {
  font-size: 1.4rem;
  max-width: 700px;
  margin: 0 auto;
  font-weight: bolder;
  margin-top: 30px;
  line-height: 27px;
  animation: fadeInUp 2s ease-out;
  color: #cec5ad;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about8 {
  padding: 50px 20px;
  text-align: center;
  background-color: #fff;
}

.section-title8 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #cec5ad;
  font-family: $heading-font;
}

.project-info8 {
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.8;
  color: #333;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.project-process8 {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  font-size: 1rem;
  color: #444;
}

.project-process8 h3 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: white;
  background-color: #82a373;
  font-family: $heading-font;
  width: 100%;

  border-radius: 50px;
  padding: 10px;
}

.project-process8 ol {
  list-style: none;
  padding-left: 0;
}

.project-process8 li {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

.project-process8 li strong {
  color: #cec5ad;
}

.members8 {
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  background-color: #82a373;
  border-radius: 10px;
  max-width: 80%;
}

.members8 h2 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 20px;
  font-family: $heading-font;
}

.member-list8 {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.member-item8 {
  text-align: center;
  width: 200px;
  height: auto;
  background-color: #cec5ad;
  border-radius: 10px;
  padding: 15px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.member-item8:hover {
  transform: scale(1.05);
}

.fancy-name8 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  position: relative;
  padding: 5px 0;
  display: inline-block;
}

.fancy-name8:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #cec5ad;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.fancy-name8:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.member-item8 p {
  font-size: 1rem;
  color: #000000;
}

.final-draft8 {
  padding: 50px 20px;
  background-color: #fff;
  text-align: center;
}

.final-draft8 h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #cec5ad;
  font-family: $heading-font;
}

.final-draft8 p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 30px;
}

.poster-thumbnails8 {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.poster-item8 {
  width: 400px;

  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.poster-item8 img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.poster-item8:hover img {
  transform: scale(1.05);
}

.modal8 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content8 {
  position: relative;
  margin: 15% auto;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.english8 {
  background-image: url(../images/FD/team8En.png);
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.korean8 {
  background-image: url(../images/FD/team8Kr.png);
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.prev8,
.next8 {
  position: absolute;
  top: 50%;
  padding: 16px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
}

.prev8:hover,
.next8:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev8 {
  left: 0;
}

.next8 {
  right: 0;
}

.close8 {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  color: #f1f1f1;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close8:hover {
  color: #bbb;
}

.button-container8 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.back-button8 {
  background-color: #cec5ad;
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-bottom: 10px;
}

.back-button8 a {
  color: white;
  text-decoration: none;
}

.back-button8:hover {
  background-color: #82a373;
  transform: scale(1.1);
}

.see-more8 {
  padding: 10px 20px;
  background-color: #cec5ad;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-bottom: 20px;
}

.see-more8:hover {
  background-color: #82a373;
  transform: scale(1.05);
}

.see-more8:focus {
  outline: none;
}
@media screen and (max-width: 950px) {
  .project-hero8 {
    height: 90vh;
  }

  .project-title8 {
    font-size: 3rem; /* Smaller font size for mobile */
    width: 90%;
    margin-top: 100px;
  }

  .project-description8 {
    font-size: 1rem; /* Adjust font size */
    max-width: 90%;
    margin-top: 20px;
  }

  .project-type8 {
    font-size: 1.3rem;
    width: 15%;
    text-align: center;
  }

  .about8 {
    padding: 30px 10px; /* Reduced padding */
  }

  .section-title8 {
    font-size: 3rem; /* Adjust font size */
  }

  .project-info8 {
    width: 90%; /* Full width for smaller screens */
    font-size: 1rem;
  }

  .project-process8 {
    padding: 0 20px; /* Adjust padding */
  }

  .members8 {
    padding: 10px;
    margin: 20px 0;
    max-width: 100%;
  }

  .member-list8 {
    gap: 20px;
  }

  .poster-thumbnails8 {
    display: flex;
    align-items: center;
  }

  .poster-item8 {
    width: 100%;
    align-items: center;
  }

  .poster-item8 img {
    width: 100%;
  }

  .modal-content8 {
    max-width: 100%;
  }

  .final-draft8 h2 {
    font-size: 3rem; /* Smaller heading */
  }

  .final-draft8 p {
    font-size: 1rem; /* Adjust paragraph font size */
  }

  /* Adjust the back and see more buttons */
  .button-container8 {
    flex-direction: column; /* Stack buttons vertically */
  }

  .back-button8 {
    padding: 15px;
  }

  .see-more8 {
    padding: 12px;
  }
}

@media screen and (max-width: 768px) {
  .project-hero8 {
    height: 90vh;
  }

  .project-title8 {
    font-size: 3rem; /* Smaller font size for mobile */
    width: 90%;
    margin-top: 100px;
  }

  .project-description8 {
    font-size: 1rem; /* Adjust font size */
    max-width: 90%;
    margin-top: 20px;
  }

  .project-type8 {
    font-size: 1.3rem;
    width: 15%;
    text-align: center;
  }

  .about8 {
    padding: 30px 10px; /* Reduced padding */
  }

  .section-title8 {
    font-size: 3rem; /* Adjust font size */
  }

  .project-info8 {
    width: 90%; /* Full width for smaller screens */
    font-size: 1rem;
  }

  .project-process8 {
    padding: 0 20px; /* Adjust padding */
  }

  .members8 {
    padding: 10px;
    margin: 20px 0;
    max-width: 100%;
  }

  .member-list8 {
    gap: 20px;
  }

  .poster-thumbnails8 {
    display: flex;
    align-items: center;
  }

  .poster-item8 {
    width: 100%;
    align-items: center;
  }

  .poster-item8 img {
    width: 100%;
  }

  .modal-content8 {
    max-width: 100%;
  }

  .final-draft8 h2 {
    font-size: 3rem; /* Smaller heading */
  }

  .final-draft8 p {
    font-size: 1rem; /* Adjust paragraph font size */
  }

  /* Adjust the back and see more buttons */
  .button-container8 {
    flex-direction: column; /* Stack buttons vertically */
  }

  .back-button8 {
    padding: 15px;
  }

  .see-more8 {
    padding: 12px;
  }
}

/* Media Queries for Smaller Mobile Screens */
@media screen and (max-width: 480px) {
  .project-hero8 {
    height: 80vh;
  }

  .project-title8 {
    font-size: 2rem;
  }

  .project-description8 {
    font-size: 0.9rem; /* Adjust font size */
  }

  .project-type8 {
    font-size: 1rem;
    width: 100%;
  }

  .about8 {
    padding: 20px 10px;
  }

  .section-title8 {
    font-size: 3rem;
  }

  .project-info8 {
    width: 100%;
    font-size: 0.9rem;
  }

  .members8 {
    margin: 10px 0;
  }

  .member-list8 {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .poster-item8 {
    width: 100%;
  }

  .modal-content8 {
    max-width: 100%; /* Full width for mobile screens */
  }
  .group-photo8 {
    width: 100%;
  }

  .final-draft8 h2 {
    font-size: 3rem; /* Adjust for mobile */
  }

  .final-draft8 p {
    font-size: 0.9rem; /* Adjust font size */
  }

  .back-button8,
  .see-more8 {
    width: 60%;
    margin: 20px;
  }
}
