$tan: #d3c49c;
$brown: #354d47;
$green: #669c8b;
$yellow: #e0a148;
$orange: #c05326;
$light-gray: #eeee;
$dark-gray: #635c5c;
$highlight-color: #c05326;
$heading-font: "rl-aqva", sans-serif;
.project-hero3 {
  position: relative;
  background-image: url(../images/team3.png);
  background-size: cover;
  background-position: center;
  height: 90vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-overlay3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  background: linear-gradient(32deg, #479195 21%, $tan 77%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.project-title3 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  animation: fadeInUp 1s ease-out;
  width: 60%;
  text-align: center;
  font-family: $heading-font;
}

.project-description3 {
  font-size: 1.1rem;
  max-width: 700px;
  margin: 0 auto;
  font-weight: bolder;
  margin-top: 30px;
  line-height: 27px;
  animation: fadeInUp 2s ease-out;
  text-align: center;
  color: white;
}

.project-type3 {
  font-size: 1.4rem;
  max-width: 700px;
  margin: 0 auto;
  font-weight: bolder;
  margin-top: 30px;
  line-height: 27px;
  animation: fadeInUp 2s ease-out;
  color: #479195;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* About Section */

.final-draft2 {
  padding: 50px 20px;
  background: linear-gradient(to bottom right, $tan, $green);
  text-align: center;
}

.finalDrafts {
  .upText {
    h2 {
      color: $green;
    }
  }
}
.poster-thumbnails3 {
  display: flex;
  justify-content: center; // Centers the posters
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.poster-item2 {
  width: 400px; // Adjust as needed
  height: 550px; // Adjust as needed
  overflow: hidden;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster-item2 img {
  width: 100%; // Make the image fill the container
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.poster-item2:hover img {
  transform: scale(1.05);
}

/* Modal Styles */
.modal3 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content3 {
  position: relative;
  margin: 15% auto;
  max-width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides1 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
p {
  color: $green;
  font-size: 20px;
}
.english3 {
  width: 400px;
  height: 550px;
  background-image: url(../images/FD/team3final.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  margin: 0 auto;
}
.korean3 {
  width: 400px;
  height: 550px;
  background-image: url(../images/FD/team3krr.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  margin: 0 auto;
}

.prev1,
.next1 {
  position: absolute;
  top: 50%;
  padding: 16px;
  color: $tan;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
}

.prev1:hover,
.next1:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev1 {
  left: 0;
}

.next1 {
  right: 0;
}

.close2 {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  color: #f1f1f1;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close1:hover {
  color: #bbb;
}
@media screen and (max-width: 480px) {
  .finalDrafts {
    padding: 20px;
    height: 100vh;

    .upText {
      padding: 20px;
      h2 {
        font-size: 28px; // Make text smaller for phones
        text-align: center;
      }
      p {
        font-size: 14px; // Reduce paragraph text size
        text-align: center;
      }
    }

    .drafts {
      flex-direction: column;
      gap: 20px;

      .final-draft3 {
        flex-direction: column;
      }

      .poster-thumbnails3 {
        flex-direction: column; // Stack thumbnails vertically
        gap: 10px;
      }

      .poster-item3 {
        width: 300px; // Take full width on mobile
        height: 400px; // Adjust height automatically
        margin-bottom: 20px;
      }

      .poster-item3 img {
        width: 300px; // Scale image to fit the container
        height: 400px;
      }

      .modal-content3 {
        max-width: 90%;
        padding-top: 200px; // Ensure modal fits the screen width
      }

      .slides img {
        margin-top: 200px;
        width: 300px;
        height: 400px;
      }

      .english3,
      .korean3 {
        width: 100%; // Make images responsive for smaller screens
        height: 400px;
      }

      .prev3,
      .next3 {
        font-size: 14px; // Smaller buttons for mobile
        padding: 12px;
      }

      .close3 {
        font-size: 24px;
        margin-top: 100px;
      }
    }
  }
}

.members3 {
  text-align: center;
  margin: 40px auto;
  padding: 20px;
  background-color: $tan;
  border-radius: 10px;
  max-width: 90%;
  z-index: 10;
  height: fit-content;

  h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 30px;
    font-family: $heading-font;
    padding-bottom: 30px;
  }

  .member-list3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px;
    margin-top: 30px;
    justify-items: center;
    align-items: center;
    width: 100%;

    .member-item3 {
      display: flex; /* Added flexbox to center content */
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */
      width: 100%;
      background-color: #479195;
      border-radius: 8px;
      padding: 15px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
      flex-direction: column; /* Stack content vertically */

      .fancy-name3 {
        font-size: 1.4rem;
        font-weight: bold;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        margin-bottom: 5px;
        max-width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      p {
        font-size: 1rem;
        color: #ffffff;
        margin: 0;
      }
    }
  }

  .group-photo3 {
    margin-top: 20px;
    text-align: center;

    h3 {
      font-size: 1.6rem;
      margin-bottom: 10px;
      color: #333;
      font-family: $heading-font;
    }

    .group-image3 {
      width: 90%;
      max-width: 500px;
      border-radius: 8px;
      margin-bottom: 10px;
    }

    .photo-description3 {
      font-size: 0.9rem;
      color: #555;
    }
  }

  // Responsive Styling
  @media (max-width: 768px) {
    .member-list3 {
      grid-template-columns: 1fr; /* 1 column for smaller screens */
      gap: 15px;
    }

    .member-item3 {
      max-width: 90%;
      padding: 12px;
    }

    h2,
    h3 {
      font-size: 1.6rem;
    }

    .group-photo3 .photo-description3 {
      font-size: 0.85rem;
    }
  }

  @media (max-width: 480px) {
    padding: 15px;

    .member-item3 {
      max-width: 100%;
      padding: 10px;
    }

    h2,
    h3 {
      font-size: 1.4rem;
    }
  }
}

/* Back Button */
.button-container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #479195;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Back Button */
.back-button3 {
  background-color: #479195;
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-bottom: 10px; /* Space between buttons */
}

.back-button3 a {
  color: white;
  text-decoration: none;
}

.back-button3:hover {
  background-color: #ff4c4c;
  transform: scale(1.1); /* Slight scale effect on hover */
}

/* See More Link */
.see-more3 {
  padding: 10px 20px;
  background-color: #ff7b7b;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-bottom: 20px;
}

.see-more3:hover {
  background-color: #ff4c4c;
  transform: scale(1.05); /* Slight scale effect */
}

.see-more3:focus {
  outline: none;
}

/* Media Queries for Smaller Mobile Screens */
@media screen and (max-width: 850px) {
  .project-hero3 {
    height: 80vh;
  }

  .project-title3 {
    font-size: 1.8rem;
  }

  .project-description3 {
    font-size: 0.9rem; /* Adjust font size */
  }

  .project-type3 {
    font-size: 1rem;
    width: 100%;
  }

  .finalDrafts {
    height: 1500px;
  }

  .members3 {
    margin: 10px 0;
  }

  .member-list3 {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .poster-item3 {
    width: 100%;
  }

  .modal-content3 {
    max-width: 100%; /* Full width for mobile screens */
  }

  .final-draft3 h2 {
    font-size: 1.8rem; /* Adjust for mobile */
  }

  .final-draft3 p {
    font-size: 0.9rem; /* Adjust font size */
  }

  .back-button3,
  .see-more3 {
    width: 60%;
    margin: 20px;
  }
}

/* Tablet Screens */
@media screen and (max-width: 768px) {
  .project-hero3 {
    height: 100vh;
  }

  .project-title3 {
    font-size: 2.5rem;
    width: 90%;
    margin-top: 70px;
  }

  .project-description3 {
    font-size: 1rem;
    max-width: 90%;
    margin-top: 20px;
  }

  .project-type3 {
    font-size: 1.2rem;
    width: 45%;
    text-align: center;
  }

  .finalDrafts {
    height: 1700px;
  }

  .members3 {
    padding: 10px;
    margin: 20px 0;
    max-width: 100%;
  }

  .member-list3 {
    gap: 20px;
  }

  .poster-thumbnails3 {
    display: flex;
    align-items: center;
  }

  .poster-item3 {
    width: 100%;
    align-items: center;
  }

  .poster-item3 img {
    width: 100%;
    display: flex;
    margin: 0 auto;
  }

  .modal-content3 {
    max-width: 100%;
  }

  .final-draft3 h2 {
    font-size: 2rem;
  }

  .final-draft3 p {
    font-size: 1rem;
  }

  .button-container3 {
    flex-direction: column;
  }

  .back-button3 {
    padding: 15px;
  }

  .see-more3 {
    padding: 12px;
  }
}

/* Smaller Mobile Screens */
@media screen and (max-width: 480px) {
  .project-hero3 {
    height: 130vh;
    padding-bottom: 200px;
  }

  .project-title3 {
    font-size: 1.8rem;
  }

  .project-description3 {
    font-size: 0.9rem;
  }

  .project-type3 {
    font-size: 1rem;
    width: 100%;
  }

  .members3 {
    margin: 10px 0;
  }

  .member-list3 {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .back-button3,
  .see-more3 {
    width: 60%;
    margin: 20px;
  }
}
