$tan: #d2c29c;
$brown: #352d27;
$green: #669c8b;
$yellow: #e0a138;
$orange: #c05126;
$light-gray: #eeee;
$dark-gray: #635c5c;
$highlight-color: #c05126;

$heading-font: "rl-aqva";

.topImage {
  background: linear-gradient($tan, $green);
  height: 110vh; // Adjusts for full viewport height
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20vh; // Responsive padding

  transition: all 0.5s ease; // Smooth transition

  // For tablet view
  @media (max-width: 1024px) {
    padding-top: 15vh;
    height: auto; // Let content adjust
  }

  // For mobile view
  @media (max-width: 768px) {
    padding-top: 15vh;
  }
  @media (max-width: 450px) {
    padding-top: 25vh;
    padding: 5vw;
  }

  .TM {
    background-image: url(../images/process.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    min-height: 60vh; // Use min-height to ensure the image scales properly
    display: flex;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out; // Smooth scale transition

    &:hover {
      transform: scale(1.05); // Zoom on hover
    }

    @media (max-width: 1024px) {
      min-height: 30vh; // Adjust for smaller tablets
    }

    @media (max-width: 768px) {
      min-height: 25vh; // Adjust for mobile
    }
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.section5 {
  width: 100%;
  padding-top: 100px;
  background: linear-gradient($green, $tan);
  display: flex;
  height: 700px;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;

  h2 {
    padding-top: 100px;
    font-size: 48px;
    font-weight: bold;
    color: $brown;
    text-align: center;
    margin-bottom: 50px;
    font-family: rl-aqva, sans-serif;
    animation: fadeIn 1.5s ease-out;
  }

  .image-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    flex-wrap: wrap;
    animation: fadeIn 1.5s ease-out;
  }

  .img-container {
    position: relative;
    width: 400px;
    height: 300px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 10px 5px 5px rgba(84, 64, 53, 0.4);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;

    &:hover {
      transform: translateY(-3px) scale(1.02); /* Soft lift */
      box-shadow: 12px 6px 10px rgba(200, 108, 55, 0.5);
    }

    .hover-text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(255, 255, 255, 0.8);
      font-size: 20px;
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 30px;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover .hover-text {
      opacity: 1;
    }
  }

  /* Image Backgrounds */
  .img1,
  .img2,
  .img3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .img1 {
    background-image: url(../images/img1.png);
  }

  .img2 {
    background-image: url(../images/img2.png);
  }

  .img3 {
    background-image: url(../images/img3.png);
  }
}
@media (max-width: 768px) {
  .section5 {
    padding-top: 50px;
    height: auto;
  }

  .image-row {
    flex-direction: column;
    gap: 20px;
  }

  .img-container {
    width: 100%;
    height: 200px;
  }

  h2 {
    font-size: 32px;
    padding-top: 50px;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .section5 {
    padding-top: 30px; /* Further reduce padding */
    height: auto; /* Let the height adjust based on content */
  }

  .image-row {
    gap: 15px; /* Reduce space between images further */
  }

  .img-container {
    width: 100%; /* Images take full width */
    height: 180px; /* Smaller image height */
  }

  h2 {
    font-size: 24px; /* Even smaller font size */
    padding-top: 30px;
    margin-bottom: 20px;
  }
}

.proj {
  .prodTitle {
    font-size: 55px;
    font-family: rl-aqva, sans-serif;
    flex-direction: column;
    height: auto;
    display: flex;
    color: $brown;
    margin: 0 auto;
    text-align: center;
    background-color: $green;
  }

  .projects {
    background: linear-gradient(5deg, $brown 4%, $green 94%);
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;

    .project-card {
      background-color: $tan;
      text-decoration: none;
      border-radius: 50px;
      padding: 30px;
      color: black;
      transition: background-color 0.3s ease, transform 0.3s ease;
      width: calc(50% - 20px); /* Two columns */
      height: 430px;
      box-sizing: border-box;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
      font-family: transat-text, sans-serif;
      align-items: center;
      justify-content: center;
      margin-bottom: 100px;

      &:hover {
        background-color: $green;
        transform: scale(1);
      }
      h2 {
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        color: $brown;
        align-items: center;
        font-family: $heading-font;
        text-align: center;
        font-size: 32px;
      }

      a {
        text-decoration: none;
        color: black;
      }

      .project-image {
        margin: 0 auto;
        border-radius: 30px;
        width: 80%;
        height: 300px;
        background-image: url(../mockups/team1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .project-image2 {
        margin: 0 auto;
        border-radius: 30px;
        width: 80%;
        height: 300px;
        background-image: url(../mockups/team2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .project-image3 {
        margin: 0 auto;
        border-radius: 30px;
        width: 80%;
        height: 300px;
        background-image: url(../mockups/team3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .project-image4 {
        margin: 0 auto;
        border-radius: 30px;
        width: 80%;
        height: 300px;
        background-image: url(../mockups/team4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .project-image5 {
        margin: 0 auto;
        border-radius: 30px;
        width: 80%;
        height: 300px;
        background-image: url(../mockups/team5.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .project-image6 {
        margin: 0 auto;
        border-radius: 30px;
        width: 80%;
        height: 300px;
        background-image: url(../mockups/team6.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .project-image7 {
        margin: 0 auto;
        border-radius: 30px;
        width: 80%;
        height: 300px;
        background-image: url(../mockups/team7.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .project-image8 {
        margin: 0 auto;
        border-radius: 30px;
        width: 80%;
        height: 300px;
        background-image: url(../mockups/team8.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}
@media (max-width: 1200px) {
  .projects {
    .project-card {
      width: calc(50% - 20px); /* Two columns */
      height: auto;
    }
  }
}

@media (max-width: 900px) {
  .projects {
    .project-card {
      width: calc(100% - 20px); /* Single column layout */
      height: auto;
      margin-bottom: 50px; /* Adjust margin for smaller screens */
    }
  }
}
@media (max-width: 768px) {
  .proj {
    .projects {
      flex-direction: column;
      align-items: center;

      .project-card {
        width: 90%;
        height: auto;
        text-align: center;

        h2 {
          font-size: 32px;
        }

        .project-image,
        .project-image2,
        .project-image3,
        .project-image4,
        .project-image5,
        .project-image6,
        .project-image7,
        .project-image8 {
          width: 100%; // Make images responsive
          height: 250px;
          border-radius: 20px;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .proj {
    .prodTitle {
      font-size: 40px;
      padding: 10px;
    }

    .projects {
      .project-card {
        width: 95%;
        border-radius: 30px;

        h2 {
          font-size: 24px;
        }

        .project-image,
        .project-image2,
        .project-image3,
        .project-image4,
        .project-image5,
        .project-image6,
        .project-image7,
        .project-image8 {
          width: 100%; // Ensure images are responsive
          height: 200px; // Slightly reduce height for better fit
          border-radius: 15px; // Keep smooth corners
        }
      }
    }
  }
}
